<h1><%= @search.query %></h1>
<% @recent_links.each do |l| %>
<div class="row">
	<div class="span1">
		<% if l.id == @search.featured_link_id %>
			FEATURED
		<% end %>
		</div>
	<div class="span6"><%=link_to(l.url,l.url) %></div>
	<div class="span1"><%=l.frequency %></div>
	<div class="span1"> 
		<a href="/links/<%=l.id%>/approve">Approve</a> 
		<a href="/links/<%=l.id%>/reject">Reject</a> 
		<a href="/links/<%=l.id%>/feature">Feature</a> 
		<%=l.moderation_status %>
	</div>
</div>
<% end %>

